@font-face {
  font-family: 'Oswald';
  src: url(~/assets/fonts/Oswald-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url(~/assets/fonts/Oswald-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Preussische';
  src: url('~/assets/fonts/PreussischeVI9Ag2.ttf');
}