$base-font-size: $font-size-base;
$heading-scale: 1; // amount of px headings grow from h6 to h1
@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Preussische';
    font-size: $base-font-size + $heading-scale * (6 - $i);
    text-transform: uppercase;
  }
}

p {
  // background-color: $color-primary;
  // padding: 1rem;
  // font-size: $font-size-body-large;
  text-align: left;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-body;
    line-height: $font-size-body+0.25*($font-size-body);
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-body-large;
    line-height: $font-size-body-large+0.25*($font-size-body-large);
  } 

}

li {
  @include media-breakpoint-up(sm) {
    font-size: $font-size-body;
    line-height: $font-size-body+0.25*($font-size-body);
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-body-large;
    line-height: $font-size-body-large+0.25*($font-size-body-large);
  }
}